<!-- FOOTER -->  
<section class="no-padding color-text-footer font-weight-bold" id="pre-footer">
   <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-3 col-md-3 text-uppercase text-center">
          <strong><a class="color-text-footer montserrat-regular" href="/taxas" title="Taxas e Tarifas"><i class="fa fa-usd" aria-hidden="true"></i> Taxas e Tarifas</a></strong>
         </div>
         
         <div class="col-xs-12 col-sm-3 col-md-3 text-uppercase text-center">
          <strong><a class="color-text-footer montserrat-regular" href="https://docs.brecoins.com.br/" title="Vídeos"><i class="fa fa-code" aria-hidden="true"></i> Desenvolvedores</a></strong>
         </div>
         
         <div class="col-xs-12 col-sm-3 col-md-3 text-uppercase text-center">
          <strong><a class="color-text-footer montserrat-regular" target="_blank" rel="nofollow" href="https://status.brecoins.com.br" title="Status"><i class="fa fa-server" aria-hidden="true"></i> Status</a></strong>
         </div>
         
         <div class="col-xs-12 col-sm-3 col-md-3 text-uppercase text-center">
          <strong><a class="color-text-footer montserrat-regular" href="/termos" title="Termos e Políticas"><i class="fa fa-file-text-o" aria-hidden="true"></i> Termos e Políticas</a></strong>
         </div>
      </div>
   </div>
</section>

<section class="no-padding color-text-footer" id="social-footer">
   <div class="container">
      <div class="row">
      
      	 <div class="col-xs-12 col-sm-12 col-md-12 text-uppercase text-center">
         	<a href="https://www.facebook.com/BRE-Coins-173232719938059/?ref=br_rs" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-facebook border-circle" aria-hidden="true"></i></a>
            <a href="https://twitter.com/brecoins" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-twitter border-circle" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/brecoins/" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-instagram border-circle" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/bre-coins/" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-linkedin border-circle" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCn2cGNqoX9ONB-J4p6gtUZQ" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-youtube border-circle" aria-hidden="true"></i></a>
            <a href="https://medium.com/bre-coins" target="_blank" class="btn btn-default btn-circle"><i class="fa fa-medium border-circle" aria-hidden="true"></i></a>
         </div>
      
      </div>
   </div>
</section>
      
<footer>
	<div class="row">
    	<div class="col-md-12 text-center color-text-footer">
           <span>Copyright &copy; <script> document.write(new Date().getFullYear()); </script> BRE Coins / Plataforma / Corretora para vender e comprar Bitcoins - Todos os direitos reservados.</span>
        </div>
    </div>
</footer>
<script type="text/javascript">
$(function() {
//MUDA O MENU CONFORME A ROLAGEM  
  $(document).scroll(function () {
      var $nav = $("header");
      $nav.toggleClass('menu-branco', $(this).scrollTop() > $nav.height());
      if($(this).scrollTop() > $nav.height()) {
          $("#logo").attr("src", "/assets/img/logo-brecoins-escuro.png");
      } else {
          $("#logo").attr("src", "/assets/img/logo-brecoins-branco.png");
      }
  });
  
});
</script>

<script>!function(B,R,E){B.GoogleAnalyticsObject=E;B[E]||(B[E]=function(){
(B[E].q=B[E].q||[]).push(arguments)});B[E].l=+new Date;var s=R.createElement('script'),
e=R.scripts[0];s.src='//www.google-analytics.com/analytics.js';
e.parentNode.insertBefore(s,e)}(window,document,'ga');

ga('create', 'UA-111516222-1', 'auto');
ga('send', 'pageview');</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '421685961602051'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=421685961602051&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
