<header>
  <div class="navbar navbar-static-top" id="menu">
    <div class="container">
      
      <!-- Menu hamburger Inicio -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#brecoins-navbar-collapse" aria-expanded="false"> <span class="sr-only">Navegacao</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        
        <!-- Título Direita do menu--> 
        <!-- <a class="logo navbar-brand" href="/"></a> -->
        <a href="/">
          <img src="/assets/img/logo-brecoins-branco.png" id="logo" alt="Mercado Bitcoin hoje – cotação para quem deseja vender ou comprar bitcoin">
        </a>
      </div>
      <!-- Menu hamburger Fim -->
      
      <div class="collapse navbar-collapse" id="brecoins-navbar-collapse"> 
        
        <!-- Links Inicio -->
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/quem-somos">QUEM SOMOS</a></li>
          <li><a href="/#diferenciais">DIFERENCIAIS</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="https://medium.com/bre-coins" target="_blank">BLOG</a></li>
        </ul>
        <!-- Links Fim --> 
        
        <!-- Caixa de Pesquisa Inicio -->
        <div class="navbar-right"> <a rel="nofollow" class="login montserrat-regular text-uppercase" href="https://broker.brecoins.com.br/"><i class="fa fa-user" aria-hidden="true"></i> Login</a> <a rel="nofollow" class="btn-padrao-small montserrat-semi text-center" href="https://broker.brecoins.com.br/?p=signup">CRIAR CONTA</a> </div>
        <!-- Caixa de Pesquisa Fim --> 
        
      </div>
    </div>
  </div>
</header>
