---
layout: faqpage
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>
{% include head.html %}
</head>

<body>
{% include nav.html %}
<!-- BLOCO TÍTULO COM IMAGEM -->
<div class="intros">
  <div class="intro_bg_faq">
    <section class="no-padding  quem-somos">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="montserrat-light branco text-center titulo-com-imagem font-size-60">FAQ</h1>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- BLOCO TÍTULO COM IMAGEM END -->

<section class="no-padding" id="faq-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
		<a rel="nofollow" class="muli vinho link-faq" href="/faq"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-left" aria-hidden="true"></i> voltar para o FAQ</a>
        <h1 class="montserrat-extra">{{ page.title }}</h1>
        {{ content }}
        </div>
    </div>
    <div class="alert alert-dark" role="alert">
      Tem alguma sugestão de melhoria ou encontrou um erro? <a href="https://github.com/BRECoins/brecoins.github.io/blob/master/{{ page.path }}" target="_blank" class="alert-link">Você pode editar esta página!</a> 🙂 
    </div>
  <div class="row">
     <div class="col-md-12">
     <a rel="nofollow" class="muli vinho link-faq" href="/faq"><i class="fa fa-angle-left" aria-hidden="true"></i><i class="fa fa-angle-left" aria-hidden="true"></i> voltar para o FAQ</a>
     	<a rel="nofollow" class="btn-padrao montserrat-semi text-center font-size-20" href="https://broker.brecoins.com.br/?p=signup">CADASTRE-SE</a>
     </div>
   </div>
    
  </div>
</section>
{% include footer.html %}
</body>
</html>
